@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#landingPageContainer {
  background: linear-gradient(111deg, #0b0d1d 0%, #0b1948 55%, #0e1837 100%);
}

#sub-tagline {
  font-size: 24px;
  font-family: "Inter";
}

#tagline {
  font-size: 48px;
  font-family: "Inter";
}

.buttons {
  border-radius: 1.5rem;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-family: "Space Grotesk";
}

.custom-bottom {
  padding: 3rem;
  font-weight: 500;
  background-color: #171b2a;
  line-height: 2rem;
  font-size: 1.7rem;
}
